$dark-green         :   #438a53;
$light-green        :   #77ff77;
$white              :   #fff;
$black              :   #1b1b1b;
$primary            :   $dark-green;
$gray-300           :   $dark-green;

@import "bootstrap";

   
body {
background-color: #D5D2D1;
}
#logo {
  float:left;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: $light-green;
    text-decoration: none;
  }
}

thead th {
  background: $dark-green;
}

.btn {
  color: $white !important;
  text-decoration: none !important;
}

.btn-primary {
  background: $black !important;
  &:hover {
    background: $light-green !important;
  }
}

form input[type=submit] {
  background: $dark-green !important;
  border: none;
  border-radius: 3px;
  min-height: 38px;
  &:hover {
    background: $light-green !important;
  }
}

.jumbotron {
  background-image: asset-url('cover.jpg');
  background-size: cover;
  height: 600px;

  h1 {
    margin-bottom: 0px;
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
  }
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid $dark-green;
  color: $dark-green;

  a {
    color: $dark-green;
    &:hover {
      color: $light-green;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
