<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; SucuSearch 2019
    </small>

    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </footer>
</div>